{
  "PLAYCANVAS_BRANCH_ID": "74c3cfe3-78ae-423c-b073-4d8af1249b44",
  "PLAYCANVAS_PROJECT_ID": 1337,
  "PLAYCANVAS_TARGET_DIR": "F:/ciberus-faraway-test/dist",
  "PLAYCANVAS_API_KEY": "YOUR_API_KEY_HERE",
  "PLAYCANVAS_BAD_FILE_REG": "^\\.|~$",
  "PLAYCANVAS_BAD_FOLDER_REG": "\\."
}
